[infra:children]
fileserver
vpcawx
chronyd
dnsmasq
nodes
glusterfs
heketi

[infra:vars]
password=M4ssQrm0*


[fileserver]
172.18.1.110
[vpcawx]
172.18.1.67

[chronyd]
172.18.1.67
[dnsmasq]
172.18.1.67
[nodes:children]
etcd
master
node

[etcd]
172.18.1.65
[master]
172.18.1.65
172.18.1.68
[node]
172.18.1.65
[glusterfs]
172.18.1.65
[heketi]
172.18.1.65
